<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h2>Your input is : <%= @to_translate %><h2>
    <h2>In pig latin is: <%= @translated %></h2>
  </body>
</html>